html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4A4A4A;
}
header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
    height: 5.3125rem;
}
.icon{
        width: 1rem;
        padding-left: 10px;
    }
.content{
        display: flex;
        justify-content: space-between;
        padding: 0 30px 0 30px;
        height: 100%;
        align-items: center;
    }
li{
        display: inline-flex;
        padding-left: 40px;
    }
main{
    padding-top: 5.3125rem;
}
.banner{
    background-image: url("../images/banner-landingpage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.sign-up{
    display: flex;
    align-items: center;
    height: 43.5rem;
}
.text_center{
    margin-left: 6.25rem;
}
.sign-up-cta{
    width: 25.625rem;
    color: white;
    background-color: #9DC20A;
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 2rem 5rem 2.5rem 5rem;
    text-align: center;
}
h2{
    font-family: "Damion", cursive;
    font-size: 2.25rem;
    padding-bottom: .75rem;
}
h1{
    font-size: 3.125rem;
    font-family: "Rubik", sans-serif;
    padding-bottom: .75rem;
}
.email{
    line-height: 1.4;
    font-size: 20px;
    margin-bottom: 1.625rem;
}
button{
    width: 408px;
    height: 64px;
    background-color: #4A4A4A;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    font-family:"Roboto";
    line-height: 1.4;
}
.featureSection{
    display: flex;
    padding: 4rem 5% 2.875rem 5%;
    background-color: #f3f3f3;
}
.feature:first-child{
    margin-right: 2.375rem;
}
.feature{
    height: 39.6875rem;
    background-color: white;
}
.feature img{
    max-width: 100%;
    padding: 2rem 2rem 2.5rem 2rem;
    box-sizing: border-box;
}
.description{
    text-align: center;
}
.description h2{
    color: #4A4A4A;
    font-size: 2.25rem;
    font-family: "Roboto";
    line-height: 1.2;
    font-weight: bold;
}
.description h3{
    color: #4A4A4A;
    font-size: 1rem;
    font-family: "Roboto";
    line-height: 1.2;
    font-weight: 300;
}
.filterSection{
    background-color: #4a4a4a;
    color: white;
    text-align: center;
}
.filterSection h2{
    font-size: 36px;
    font-family: "Roboto";
    font-weight: bold;
    opacity: 100%;
    padding-top: 4rem;
}
.filterSection h3{;
    font-family: "Roboto";
    font-weight: 300;
    line-height: 1.4;
    font-size: 1rem;
}
.photos{
    display: flex;
    padding: 5rem 1% 4rem 1%;
}
.photos img{
    width: 25%;
}
.quotes-section{
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 1.5rem;
    text-align: center;
}
.quote{
    font-family: "Palatino", serif;
    color: #4a4a4a;
    font-size: 1.875rem;
    line-height: 1.1;
    padding-right: 1.875rem;
}
footer{
    background-color: #9B9B9B;
    height: 3.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer span{
    color: white;
    font-size: 0.75rem;
    font-family: "Roboto";
    padding: 0 2rem 0 2rem;
}
@media screen and (min-width: 900px) {
    footer{
        display: none;
    }
}